// variabili css
:root {
    --primary-color: #1b1b1b;
    --primary-font-color: rgb(234, 234, 234);
    --secondary-font-color: #e8ff00;
}

/* CSS */

body {
    background-color: var(--primary-color);
    color: var(--primary-font-color);
    font-family: "Lato";
}

/* UTILITY */

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #111111 var(--primary-color);
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #111111;
    border-radius: 10px;
    border: 3px solid var(--primary-color);
  }